
.form-style form input, form textarea, form select {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #EF4A4A;
    border-radius: 0.375rem;
}
.form-style form input:focus, form textarea:focus, form select:focus {
    outline: none;
    border-color: #B153F4;
    box-shadow: 0 0 0 3px #B153F4;
}

/* Animation */
@keyframes shine {
    0% { background-position: -200% 0; }
    100% { background-position: 200% 0; }
}
.animate-shine {
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.3));
    background-size: 200% 100%;
    animation: shine 3s infinite;
}

/* Dark mode and light mode styling */
.dark-mode {
    background-color: #1a202c; /* Dark background color */
    color: #cbd5e0; /* Light text color */
}
.light-mode {
    background-color: #f7fafc; /* Light background color */
    color: #1a202c; /* Dark text color */
}