<div class="bg-white rounded-lg overflow-hidden shadow-lg ring-4 ring-indigo-500 ring-opacity-40 max-w-sm">
  <div class="relative">
      <img class="w-full" src="https://dlcdnwebimgs.asus.com/files/media/C93177C5-674A-43E4-818C-045854974C8B/V5/img/bundled-bg.webp" alt="Product Image">
  </div>
  <div class="p-4">
      <h3 class="font-bold text-xl mb-2">{{ order_entry.name }}</h3>
      <p class="text-gray-600 text-sm mb-4">{{ order_entry.description }}</p>
      <p class="text-gray-600 text-sm mb-4">{{ order_entry.time }}</p>
      <div class="flex items-center justify-between">
          <span class="font-semibold text-lg">{{ order_entry.price }}</span>
          <div class="flex space-x-2">
              <a href="{% url 'main:edit_product' order_entry.pk %}" class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded transition duration-300 shadow-md">
                  Edit
              </a>
              <a href="{% url 'main:delete_product' order_entry.pk %}" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded transition duration-300 shadow-md">
                  Hapus
              </a>
          </div>
      </div>
      <p class="mt-4 text-gray-700 font-semibold mb-2">{{order_entries.description}}</p>
  </div>
</div>
